{% extends 'base.html' %}
{% block style %}
    .form-container {
        marign: 50px;
        padding: 20px;
        text-decoration: none;
    }
    .form-container button {
        background-color: blue;
        color: white;
        border: white 2px solid;
        border-radius: 5px;
        padding: 5px;
    }
    textarea {
        width: 500px;
        height 500px;
    }
{% endblock %}
{% block content %}
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
        <div class="form-container">
            <form action='/' method='GET'>
                <textarea 
                    name='prompt'
                    value='{{request.form['prompt']}}' 
                    placeholder="Text">
                </textarea>
                <button type='submit'>Condense</button>
            </form>
        </div>
{% endblock %}
